In [1]:
seq_1 = "ARCGRACGARCGARCGARCGCRAGACGTATCG"
seq_2 = "actgatcgacgatcgatcgatcacgact"
seq_3 = "ACTGAC-ACTGT-ACTGTA----CATGTG"

In [4]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print(apes[0])
first_site = conserved_sites[2]
print(first_site)

Homo sapiens
132

In [5]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
chimp_index = apes.index("Pan troglodytes")
# chimp_index is now 1

In [6]:
#give index negative value, it will start counting from the end upward instead
last_ape = apes[-1]
print(last_ape)

Gorilla gorilla

In [7]:
ranks = ["kingdom", "phylum", "class", "order", "family"]
lower_rank = ranks[2:5]
# lower ranks are class, order and family
# [2:5] = include index 2,3,4 but exclude 5
# inclusive start, exclusive end
print(lower_rank)

['class', 'order', 'family']

In [10]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print ("there are "+ str(len(apes)) + " apes")
apes.append("Pan paniscus")
print ("now there are "+ str(len(apes)) + " apes")

there are 3 apes
now there are 4 apes

In [11]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys

print(str(len(apes))+ " apes")
print(str(len(monkeys))+ " monkeys")
print(str(len(primates))+ " primates")

3 apes
2 monkeys
5 primates

In [13]:
ranks = ["kingdom", "phylum", "class", "order", "family"]
print("Start " + str(ranks))
ranks.reverse()
print("After reversing "+str(ranks))
ranks.sort()
print("After sorting "+str(ranks))

Start ['kingdom', 'phylum', 'class', 'order', 'family']
After reversing ['family', 'order', 'class', 'phylum', 'kingdom']
After sorting ['class', 'family', 'kingdom', 'order', 'phylum']

In [14]:
#Loop
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [16]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first = ape[0]
    print(ape + " is an ape. Its name start with " + first)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name start with H
Its name has 12 letters
Pan troglodytes is an ape. Its name start with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name start with G
Its name has 15 letters

In [17]:
#string as a list
name = "martin"
for character in name:
    print("one character is " +character)

one character is m
one character is a
one character is r
one character is t
one character is i
one character is n

In [18]:
#splitting string to make a list
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']

In [19]:
protein = "vlspadktnv"
stop_positions = [3,4,5,6,7,8,9]
for stop in stop_positions:
    substring = protein[0:stop]
    print(substring)

vls
vlsp
vlspa
vlspad
vlspadk
vlspadkt
vlspadktn

In [20]:
for number in range(3,8):
    print(number)

3
4
5
6
7

In [22]:
for number in range(2,14,4):
    print(number)
    #range goes from 2 (inclusive) to 13 (exclusive to 14), by a step size of 4

2
6
10